body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: slategrey;
}
.main{
    height: 100%;
    width: 100%;
    background-image: url(Programming\ code\ abstract\ technology\ background\ of\ software\ developer\ and\ Computer\ scrip.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    height: 20vh;
    width: 100vw;
    background-image:linear-gradient(green, blue);
    display: flex;
}
.logo{
    height: 20vh;
    width: 20vw;
    background-color: maroon;
}
.logo h1{
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:20px ;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-right:5px ;
}
.logo p{
    font-size: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:20px ;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-right:5px ;
}
.navbar{
    height: 20vh;
    width: 60vw;
    background-color: #b93838;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.navbar a{
    text-decoration: none;
    padding: 0;
    font-size: 2rem;
    color: white;
    text-align: center;

}
.navbar a:hover{
    color: greenyellow;
}

.icon{
    height: 20vh;
    width: 20vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.icon img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.icon button{
    color: rgb(176, 49, 49);
    height: 40px;
    width: 60px;
    cursor: pointer;
    border-radius: 10%;
}
.icon button a{
    text-decoration: none;
}
.icon button:hover{
    background-color: greenyellow;
    color: black;
}
.main-content{
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(white, grey);
    display: flex;
   
}
.box{
    height: 70vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0202;
    flex-direction: column;
}
.box p{
    padding: 10px;
}
.box img{
    margin-top: 0;
    height: 30vh;
    width: 40vw;
}
.boxs{
    background-image: linear-gradient(45deg, darkblue, black, darkblue);
    width: 60vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.boxs p{
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}
.boxs h1{
    font-size: 3rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.boxs h2{
    font-size: 3rem;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(red, purple);

}